.navContainer {
    width: 10vw;
    background-color: #fff;
    height: 100vh;
    z-index: 0;
    transition: width 0.3s;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 999;
}

.routerContainer {
    position: relative;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width 0.1s;
    width: 100vw;
    padding: 4rem 3rem;
    overflow-y: auto;
    height: 100%;
    margin-top: 60px;

}

.navText span {
    font-size: 2rem; 
}

.navIcon svg {
    font-size: 4rem; 
}

.navItem {
    color: var(--color-primary);
}

/* @media (max-width: 1000px) {
    .navContainer {
        width: 25vw;
    }
    .content {
        width: 75vw;
        margin-left: 25vw;
    }
}

@media (max-width: 1250px) {
    .navContainer {
        width: 15vw;
    }
    .content {
        width: 85vw;
        margin-left: 15vw;
    }
}

@media (max-width: 800px) {
    .navText span {
        font-size: 1.5rem; 
    }
}

@media (max-width: 700px) {
    .navText {
        display: none;
    }
    .navContainer {
        justify-content: center;
        display: flex;
    }
    .navIcon svg {
        margin-left: 1rem; 
    }
} */