.formEditEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.editTitle {
    color: var(--color-primary);
    font-size: 2rem;
    padding: 0.5rem;
}

.editField input {
    font-size: 2rem !important;
}

.editField label {
    font-size: 2rem !important;
}

.editField {
    margin: 3rem 0 !important;
    width: 100%;
}
