.eventContainer {
    padding: 1.5rem;
    min-height: 20vh;
    max-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
}

.eventPass {
    padding: 1.5rem;
    min-height: 20vh;
    max-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    background-color: lightgray !important;
}

.actionContainer {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EventCommingContainer {
    display: flex;
    justify-content: flex-end;
}

.EventCommingContainer svg{
   font-size: 4rem;
   color: var(--color-fail)
}

.titleAndDescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#titleCard {
    font-size: 3rem;
    font-weight: bold;
}

#description {
    font-size: 1.5rem;
    color: gray;
    width: 50%;
}

#eventHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeStampContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eventDate {
    margin: 0 1rem !important;
}

.eventDate div {
    font-size: 1.5rem;
}

.eventInfo {
    margin: 1rem !important;
}

.buttonTooltip svg {
    font-size: 2.5rem ;
}

.buttonTooltip #delete {
    color: var(--color-fail);
}

.confirmTitle {
    font-size: 1.5rem;
}
