:root {
    font-size: 60%;

    --color-primary-dark: #006bc2;
    --color-primary: #589dd4;
    --color-primary-light: #81b0d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: #f0f0f0;
}

body, 
input, 
button, 
textarea {
    font: 500 1.6rem Roboto;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}