:root {
    font-size: 70%;

    --color-primary-dark: #006bc2;
    --color-primary: #589dd4;
    --color-primary-light: #81b0d6;
    --color-success: #4caf50;
    --color-fail: #c51c1c;

}

.App {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: #f0f0f0;
}

body, 
input, 
button, 
textarea {
    font: 500 1.6rem Roboto;
}

.container {
    width: 90vw;
    max-width: 700px;
}

.defaultButton {
    padding: 1rem;
    font-weight: 400 !important;
    color: #fff !important;
    background-color: var(--color-primary) !important;
    font-size: 1.5rem !important;
}

.cancelButton {
    padding: 1rem;
    font-weight: 400 !important;
    color: var(--color-primary) !important;
    background-color: #fff !important;
    font-size: 1.5rem !important;
    border: solid 1px lightblue !important;
}

.deleteButton {
    padding: 1rem;
    font-weight: 400 !important;
    color: #FFF !important;
    background-color: var(--color-fail) !important;
    font-size: 1.5rem !important;
    border: solid 1px white !important;
}

.successAlert {
    font-size: 1.5rem;
    background-color: var(--color-success) !important;
    padding: 1rem 5rem;
    font-weight: bold;
    color: #FFF !important;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}